<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ROOT COMPONENT</h1>
    <h1>TO DO LIST</h1>

    <input type="text" [(ngModel)]="task" placeholder="enter the task" style="width: 200px; height: 28px;">

    <button (click)="addTask()"
        style="padding: 15px;background-color: beige  ;width: 80px; margin-left: 5%;">Add</button>

    <br>
    <ol>
        @for(task of taskList; track task ; let id = $index){
        <li>{{task.task}} <span><button (click)="deleteTask(task.id)" >Delete</button></span></li>
        }
    </ol>












</body>

</html>