<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ROOT COMPONENT</h1>
    <!-- <login /> -->
    <!-- <signup /> -->
    <!-- <profile /> -->


  <h1>For loop contextual Variable</h1>

  @for(user of users ; track user; ; let id = $index){

    <!-- @if($first || $last){
        <h2 style="background-color: red;" >this is {{id+1}} user and the name is {{user}}</h2>
    }
    @else{
        <h2>this is {{id+1}} user and the name is {{user}}</h2>
    } -->
    @if($even){
        <h2 style="background-color: lime;">this is {{id+1}} user and the name is {{user}}</h2>
    }
    @if($odd){
        <h2 style="background-color: green;">this is {{id+1}} user and the name is {{user}}</h2>
    }
     {{$count}}  <!-- total count dikhaega -->
  }

  @empty(){
    <h1>No Record found</h1>
  }

</body>

</html>