.main{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 40%;
}
a{
    text-decoration: none;
}

.active{
    background-color: aqua;
}